body{
   background-color: #3f72af;
   color: #f9f7f7;
   margin: 0 auto;
} 
nav{
    background-color: #112d4e;
    text-align: right;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 10;


}
a{
    color:aliceblue;
    text-decoration: none;
}
li{
    display:inline;
    padding:10px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:  100px;
}
img{
    width: 400px;
}
hr{
    width: 50%;
    margin: 50px auto;
}
main{
    text-align: center;
}
#main{
    text-align: center;
}
.news-container{
    display:flex;
    justify-content:space-around; 
}
.news-card{
    background: color #112d4e;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}
.news-card: :hover{
    scale: 1.1;
}
.news-card img {
    width: 10%;
    border-radius: 10px;
}
.news-card a {
    background-color: #3f72af;
    padding: 10px;
    border-radius: 10px;
}
#contact{
    margin: 20px auto;
    width: 500px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 4px dashed #112d4e;
}
h2{
    text-align: center;
}
footer{
    background-color: #112d4e;
    text-align: center;
    padding: 10px;
}